# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ======================
# Dependencies
# ======================
node_modules/
**/node_modules/

# ======================
# Expo / React Native
# ======================
.expo/
**/.expo/
dist/
web-build/
expo-env.d.ts
**/expo-env.d.ts

# ======================
# React / Metro caches
# ======================
.react/
**/.react/
.cache/
**/.cache/

# ======================
# Native / Mobile
# ======================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ======================
# Metro
# ======================
.metro-health-check*

# ======================
# Debug logs
# ======================
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# ======================
# macOS / OS
# ======================
.DS_Store
*.pem

# ======================
# Local environment files
# ======================
.env
.env.*
.env*.local

# ======================
# TypeScript
# ======================
*.tsbuildinfo

# ======================
# Generated native folders
# ======================
/ios
/android

# ======================
# Editors / IDEs
# ======================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ======================
# Misc
# ======================
app-example
