#environment file
../../../.env

#database
gotta_minute.db

#Other file
test_main.http

#virtual environment
.venv/

# pytest / coverage artifacts
.coverage
.coverage.*
htmlcov/
coverage.xml
.pytest_cache/